{% extends "simple-sidebar.html" %}
{% block body %}

<title>MathHarbor - Create Container</title>
<div class="container" style="padding-top:125px; padding-left:185px;">
    <div class="jumbotron" style="background-color:#E1F4FD; height:350px; width:750px; padding-left:50px;">

    <form class="form-horizontal" role="form" action="/create_container" method="post">
  <div class="form-group">
    <label for="inputUsername3" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName3" name="inputName3" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Memory</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputMemory3" name="inputMemory3" placeholder="Memory">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Start Container</button>
    </div>
  </div>
</form>

    


</div>
</div>

{% endblock %}