{% extends "simple-sidebar.html" %}
{% block body %}


<title>Mathharbor - My Containers</title>
<div class="container">
    <div class="jumbotron" style="background-color:#E1F4FD;">
    

<table class="table table-hover">
<tr>
<th>ID</th>
<th>Name</th>
<th>Image</th>
<th>Memory</th>
<th>Terminal</th>
<th>Share</th>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</table>





</div>
</div>

{% endblock %}