{% extends "signup-sidebar.html" %}
{% block body %}


<title>MathHarbor - Sign In</title>
<div class="container" style="padding-top:125px; padding-left:185px;">
    <div class="jumbotron" style="background-color:#E1F4FD; height:350px; width:750px; padding-left:50px;">

    <form class="form-horizontal" role="form" action="" method="post">
  <div class="form-group">
    <label for="inputUsername3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUsername3" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" onClick="login_ajax()">Sign in</button>
    </div>
  </div>
</form>

    


</div>
</div>


{% endblock %}